
{% extends 'layout.html.twig' %}


{%  block main %}

Profil utilisateur
    <div class="card">
        {% if not other %}
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if not editProfil and not editPassword %}active{% endif %}" href="{{ path('profil') }}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if editProfil %}active{% endif %}" href="{{ path('profilEdit') }}">Edition</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="card-body row">
            <div class="col-auto">
                <h2 class="d-block">Nom utilisateur : {{ participant.nom }} {{ participant.prenom }}</h2>
                {% if participant.photo is not null %}
                    <img src="{{ asset('files/' ~ participant.photo) }}" alt="{{ participant.username }}">
                {% else %}

                {% endif %}

                <p class="title d-block">Pseudo : ({{ participant.pseudo }})</p>
                {% if participant.mail is not null %}
                    <a href="#" class="d-block"><i class="fas fa-at"></i>Mail : {{ participant.mail }}</a>
                {% endif %}
                {% if participant.telephone is not null %}
                    <a href="#" class="d-block"><i class="fas fa-phone"></i>Téléphone : {{ participant.telephone }}</a>
                {% endif %}
            </div>
            <div class="col-auto w-100">

                {% if editProfil %}
                    {% if not other %}
                        {% if form is not null %}
                            {{ form(form) }}
                        {% endif %}
                    {% endif %}
                {% else %}
                    <h2><i class="fas fa-university"></i> Campus :

                        {% if participant.campus is not null %}
                            {{ participant.campus.nom }}
                        {% endif %}
                    </h2>

                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
