{% extends 'layout.html.twig' %}

{%  block main %}

    {{ form_start(createSortieForm) }}
    {{ form_widget(createSortieForm) }}
    <button type="submit" class="btn btn-success"> Enregistrer </button>
    <a href="" class="btn btn-success"> Publier la sortie </a>
    <a href=" {{ path('home') }}" class="btn btn-danger"> Annuler </a>
    {{ form_end(createSortieForm) }}

    <script>

        remplirChamps();

        function remplirChamps(){
            var idLieu = document.getElementById('create_sortie_lieu').value;

            console.log(idLieu);

            if(idLieu != null)
            {
                var lieuVilleId = 0;

                {% for lieu in lieux %}
                var lieuId = {{ lieu.id }};
                if(idLieu == lieuId)
                {
                    document.getElementById('create_sortie_rue').value = '{{ lieu.rue }}';
                    document.getElementById('create_sortie_longitude').value = '{{ lieu.longitude }}';
                    document.getElementById('create_sortie_latitude').value = '{{ lieu.latitude }}';

                    lieuVilleId = {{ lieu.ville.id }};
                }

                console.log(lieuVilleId);
                {% for ville in villes %}
                var villeId = {{ ville.id }};
                if(lieuVilleId === villeId)
                {
                    document.getElementById('create_sortie_codePostal').value = '{{ ville.codePostal }}';
                }
                {% endfor %}

                {% endfor %}
            }
        }


    </script>

{% endblock %}

