{% extends 'layout.html.twig' %}

{%  block main %}
    {{ form_start(filterSortieForm) }}
    {{ form_widget(filterSortieForm) }}
    <button type="submit"> Rechercher </button>
    {{ form_end(filterSortieForm) }}


    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% set isInscrit = false %}
                {% for inscription in sortie.inscriptions %}
                    {% if app.user.id == inscription.participant.id %}
                        {% set isInscrit = true %}
                    {% endif %}
                {% endfor %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|format_datetime() }}</td>
                <td>{{ sortie.dateLimiteInscription|format_datetime() }}</td>
                <td>{{ sortie.inscriptions|length }} /{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                {% if isInscrit == true %}
                    <td>X</td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom|first }}.</td>
                {{ if sortie.organisateur }}
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}