{% extends 'layout.html.twig' %}

{%  block main %}
    <h1 align="center">Modifier une sortie</h1>

    {{ form_start(modifierSortieForm) }}
    {{ form_widget(modifierSortieForm) }}
    <button type="submit" class="btn btn-success"> Enregistrer </button>
    {% if sortie.etat.id != 2 %}
        <a href="{{ path('sortie_publier', {'id': sortie.id}) }}" class="btn btn-success"> Publier la sortie </a>
    {% endif %}
    {% if sortie.organisateur.id == app.user.id %}
        <a href="{{ path('sortie_delete', {'id': sortie.id}) }}" class="btn btn-danger" onclick="return confirm('Supprimer la sortie ?')"> Supprimer la sortie </a>
    {% endif %}
    <a href="{{ path('home') }}" class="btn btn-danger"> Annuler </a>
    {{ form_end(modifierSortieForm) }}

{% endblock %}

