<nav class="navbar navbar-expand-sm bg-dark text-white">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{{ path('sortie_index') }}">Home </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('sortie_index') }}">Sorties </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('register') }}">S'inscrire </a>
        </li>

        {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
                <a href="{{ path('logout') }}">Se deconnecter </a>
            </li>

        {%  else %}
            <li class="nav-item">
                <a href="{{ path('login') }}">Se connecter </a>
            </li>
        {% endif %}

    </ul>
</nav>